#app
{
text-align: center;
}

h1
{
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.line
{
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

#game
{
  text-align: center;
}

body
{
    background-color: bisque;
    text-align: center;
}

#Chatbot
{
    text-align: center;
}

img
{
    width: 300px;
    height: 300px;
}

#myCarousel
{
    background-color: red;
}

#myCarousel img 
{
    height : 300px;
    margin-top : 35px;
}

.carousel-inner p 
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}

